<!DOCTYPE html>
<html ng-app="TodoApp" lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css"> 
    <title>AngularJS Lab1</title>
</head>

<body>

<div class="wrapper">
<h1>TODO List</h1>
    <p>A place to store the things you have to do!</p>
    <input class = "filter" type="text" value = "Filter your to-dos">

<section ng-controller = "TodoController as todo"> 

    <div class="items" ng-repeat = "task in todo.tasks" >
    <div class="firstitems">
        <p>{{$index + 1}}.  </p>
        <button class="completebtn" type = "button" ng-if="false === task.completestatus">Complete</button>
        <p ng-class = "{'completed': task.completestatus === true}" >{{task.taskname}}</p>
    </div>
    <div class="lastitems">
        <!-- <input type="checkbox" ng-model="clicked" ng-init="clicked=true" /> -->
        <button class="xbtn" type="button"><i class="material-icons">close</i></button>


    </div>
    </div>

    <div class="bottom">
        <input class = "addtodo" type="text" value = "Add your to-do">
        <button class = "addbutton" type = "button">Add</button> 
    </div>

</section> 

</div>

<script src="https://code.angularjs.org/1.6.5/angular.js"></script>
<script src="module.js"></script>
<script src="controller.js"></script>
</body>
</html>
<!-- ng-class= "{'completed': task.completestatus === true, 'notcompleted': task.completestatus === false}" -->