body {
    background-color: lightblue; 
    
}

div {
   margin: 0 auto; 

}

h1 {
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align:center; 
}

img {
    border: 5px black solid;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#url {
    text-align: center; 
}